<nav class="menu">
    <ol>
        <li class="menu-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li class="menu-item">
            <a href="#0">About</a>
            <ol class="sub-menu">
                <li class="menu-item"><a href="/about">The Club</a></li>
                <li class="menu-item"><a href="/news">News</a></li>
                <li class="menu-item"><a href="/blog">Honours Board</a></li>
                <li class="menu-item"><a href="/blog">The Sport</a></li>
                <li class="menu-item"><a href="/blog">Sponsors</a></li>
            </ol>
        </li>
        <li class="menu-item">
            <a href="#0">Teams</a>
            <ol class="sub-menu">
                <li class="menu-item"><a href="/club">Overview</a></li>
                <div class="column">
                    <h10>The Teams</h10>
                    <li class="menu-item"><a href="/club/team/firstXI">1st XI</a></li>
                    <li class="menu-item"><a href="/club/players/secondXI">2nd XI</a></li>
                    <li class="menu-item"><a href="/club/players/firstXI">U11</a></li>
                    <li class="menu-item"><a href="/club/team/firstXI">U13</a></li>
                    <li class="menu-item"><a href="/club/team/firstXI">U15</a></li>
                </div>
                <div class="column">
                    <h10>Averages</h10>
                    <li class="menu-item"><a href="/fixture-preview">1st XI</a></li>
                    <li class="menu-item"><a href="/loading-bays">2nd XI</a></li>
                    <li class="menu-item"><a href="/fortress-trellidor">U11</a></li>
                    <li class="menu-item"><a href="/crime-guard-screens">U13</a></li>
                    <li class="menu-item"><a href="/security-gates">U15</a></li>
                </div>
                <div class="column">
                    <h10>Scorecards</h10>
                    <li class="menu-item"><a href="/club/scorecard/firstXI">1st XI</a></li>
                    <li class="menu-item"><a href="/club/scorecard/secondXI">2nd XI</a></li>
                    <li class="menu-item"><a href="/fortress-trellidor">U11</a></li>
                    <li class="menu-item"><a href="/crime-guard-screens">U13</a></li>
                    <li class="menu-item"><a href="/security-gates">U15</a></li>
                </div>

            </ol>
        </li>
        <li class="menu-item">
            <a href="#0">Fixtures</a>
            <ol class="sub-menu">
                <li class="menu-item"><a href="/club/fixtures/firstXI">1st XI</a></li>
                <li class="menu-item"><a href="/club/fixtures/secondXI">2nd XI</a></li>
                <li class="menu-item"><a href="/fortress-trellidor">U11</a></li>
                <li class="menu-item"><a href="/crime-guard-screens">U13</a></li>
                <li class="menu-item"><a href="/security-gates">U15</a></li>
                <li class="menu-item"><a href="/security-gates">U17</a></li>
            </ol>
        </li>
        <li class="menu-item"><a href="/location">Location</a></li>
    </ol>
</nav>
