{% extends "account/base.html" %}
{% block page-css-class %}col-md-5{% endblock %}
{% load i18n %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}

{% block title %} {% trans "Signup" %} | {% endblock %}
{% block title_suffix %}
    {% with self.get_site.site_name as site_name %}
        {% if site_name %}| {{ site_name }}{% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>
    <p class="signup-head">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>
        .{% endblocktrans %}
    </p>

    <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}


        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden text-white" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <button type="submit" class="btn btn-success">{% trans "Sign Up" %}</button>
    </form>

{% endblock %}
