{% extends "base.html" %}
{% load static %}

<link rel="icon" type="image/png" href="media/ards cc filled.png"/>
{% block page-css-class %}cover-container d-flex h-25 px-3 mx-auto flex-column {% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load mathfilters %}
{% block body_class %}template-blogpage{% endblock %}
{% block extra_css %}{# Override this in templates to add extra css        #}{% endblock %}
{% block extra_js %} {# Override this in templates to add extra javascript #}{% endblock %}

{% block meta_descr %}
    Individual blog page
{% endblock %}



{% block content %} {#    html stuff sits in here#}

    <div id="blog-page">

        {# We want to go back to page the viewer was on previously using django-mathfilters #}

        <div class="box-1 px-5">
            {% for page_parent in page.get_parent.get_children %}
                {% if page.id == page_parent.id %}
                    {# Div number Needs to be the same as the amount per pagination #}
                    <a href="{{ page.get_parent.url }}?page={{ forloop.counter|div:5|add:1 }}">
                        <div class="btn btn-success" style="padding-top: 0">

                            Return to blog »

                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>

        <div class="row pb-4 mx-3">
            <div class="col-lg p-4">
                <div class="text-left">
                    <h1 class="blogLink">{{ page.title }} </h1>

                    <h5 class="w3-opacity">{{ page.date }}</h5>

                    <div class="intro-blog">{{ page.intro }}</div>
                </div>
                <div class="pt-3 line-height-1-6">
                    {{ page.body|richtext }}
                </div>
            </div>

            {# start carousel #}
            {# second attempt #}
            {% if page.blogpage_images.all|length > 1 %}
                <div class="col">
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for item in page.blogpage_images.all %}
                                {% image item.image fill-650x450 as img %}
                                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                    <img src="{{ img.url }}" class="d-block w-100" alt="{{ img.alt }}">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev border-none" type="button" data-bs-target="#carouselExampleInterval"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next border-none" type="button" data-bs-target="#carouselExampleInterval"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    {# end carousel #}


                </div>
            {% elif page.blogpage_images.all|length == 1 %}
                <div class="col">

                    <div id="carouselExampleIndicators" class="carousel" data-ride="carousel">

                        <div class="blog">
                            <div class="carousel-inner">
                                {% for item in page.blogpage_images.all %}
                                    {% image item.image fill-650x450 as img %}
                                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                        <img src="{{ img.url }}" class="d-block w-100" alt="{{ img.alt }}">
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    {# end carousel #}


                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}