{% extends "../base.html" %}
{% load wagtailcore_tags %}
{% load static %}
{% block page-css-class %}cover-container d-flex h-25 px-3 mx-5 flex-column {% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

    {% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endcomment %}

{% endblock extra_css %}

{% block extra_js %} {# Override this in templates to add extra javascript #}
    <script>
        {% for mem in member_list %}
            var userid ={{ mem.player_link.id }}
        {% endfor %}
        var endpoint = '/club/api/user/home/data/' + userid
        var defaultData1 = []
        var defaultLabels2 = []

        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (context) {
                defaultLabels = context.dates_array
                defaultData = context.runs_array
                console.log(context)
                setChart()
            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            },
        })

        function setChart() {
            var ctx = document.getElementById('myChart').getContext('2d');
            var ctx2 = document.getElementById('myChart2').getContext('2d');

            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: defaultLabels,
                    datasets: [{
                        label: '# of runs',
                        data: defaultData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    }
                }
            })

            var myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: defaultLabels,
                    datasets: [{
                        label: '# of runs',
                        data: defaultData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            })
        }

    </script>
{% endblock %}

{% block content %}
    {% for home in homepage %}
        <div class="row justify-content-center mt-3 ms-3 me-3">
            <div class="col-xl-3 bg-racing-green text-white order-xl-1 relative-container ">
                {% for match in prev_match_list|slice:"1" %}
                    <div class="row">
                        <h3 class="ls-2">
                            <a class="result" href="{% url 'viewmatch' match.id %}">
                                LAST RESULT
                            </a>
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <img class="match-img d-block" src="{{ match.opponent.badge.url }}"
                                 alt="opponent badge">
                        </div>
                        <div class="col-6">
                            <h3 class="">
                                {{ match.opponent }}
                            </h3>
                            <h5 class="">
                                {{ match.opponents_score }}
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <img class="match-img d-block " src="/media/ards_cc.png"
                                 alt="home badge">
                        </div>
                        <div class="col-6">
                            <h3 class="">
                                Ards
                            </h3>
                            <h5 class="">
                                {{ match.ards_score }}
                            </h5>
                        </div>
                    </div>
                    {{ match.result }}
                    <div class="row mt-2 bottom-right">
                        <div class="col text-end">
                            <a class="pe-2" href="/club/scorecard/firstXI">
                                All results <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                {% empty %}
                    n
                {% endfor %}
            </div>
            <div class="col-xl-6 g-0 order-1 relative-container ">
                {% image home.banner_image fill-1000x500 as main_photo %}

                <img src="{{ main_photo.url }}" width="{{ main_photo.width }}"
                     height="" alt="recent results image"
                     class="d-block w-100"/>

                <div class="bottom-right"><p class="text-end text-white">Powered By <br>Romas</p></div>
            </div>

        </div>


        <main class="container">
            <div class="text-center">

                {% if request.user.is_authenticated %}

                    {% for user_group in user.groups.all %}
                        {{ user_group.name }}
                        <br>
                        {% if user_group.name == "Player" %}
                            {% for mem in member_list %}
                                {% for bt in batting_list|slice:"1" %}
                                    Your latest batting performance: {{ bt }}
                                    <br>
                                {% endfor %}
                                | user: {{ user.id }} | member: {{ mem.id }} | member player: {{ mem.player_link.id }}

                            {% endfor %}


                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <canvas id="myChart" width="400" height="400"></canvas>
                                </div>
                                <div class="col-md-3">
                                    <canvas id="myChart2" width="400" height="400"></canvas>
                                </div>
                            </div>
                        {% elif user_group.name == "Captain" %}
                            <a class="btn btn-success" href="/club/match/add">
                                add match
                            </a>
                        {% endif %}

                    {% endfor %}


                {% endif %}
                <hr>


                <div class="row row-cols-1 row-cols-xl-3 g-4 mx-lg-5">
                    <div class="col">
                        <div class="card h-100 border-0">
                            <div class="d-flex justify-content-start">
                                {% image home.store_image max-300x200 as main_photo %}
                                <img src="{{ main_photo.url }}" alt="club store"
                                     class="d-block"/>
                            </div>
                            <div class="">
                                <div class="row justify-content-start mt-2">
                                    <a class="justify-content-start text-start result"
                                       href="{{ home.store_link }}" target="_blank">
                                        {{ home.store_text|richtext }}
                                    </a>
                                </div>
                                <div class="text-muted row justify-content-start text-start">
                                    <a>CLUB STORE</a>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="d-xl-none">
                        <hr>
                    </div>
                    <div class="col">
                        <div class="card h-100 border-0">
                            {% for page in blog|slice:"1" %}
                                <div class="d-flex justify-content-start">
                                    {% for item in page.specific.blogpage_images.all|slice:"1" %}
                                        {% image item.image max-300x200 as b_photo %}
                                        <img src="{{ b_photo.url }}" width="{{ b_photo.width }}"
                                             height="" alt="{{ page.intro }}"
                                             class=""/>
                                    {% endfor %}
                                </div>
                                <div class="">
                                    <div class="row justify-content-start mt-2">
                                        <a class="justify-content-start text-start result"
                                           href="{% pageurl page %}">
                                            {{ page.intro|richtext }}
                                        </a>
                                    </div>
                                    <div class="text-muted row justify-content-start text-start mt-2">
                                        <a>CLUB NEWS</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-xl-none">
                        <hr>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <div class="bg-f8 border-thick-top">
                                {% for match in next_match_list|slice:"1" %}
                                    <div class="row row-cols-auto justify-content-between pt-3 px-2">
                                        <div class="col text-muted">
                                            NEXT FIXTURE
                                        </div>
                                        <div class="col small">
                                            <a class="pe-2 text-primary" href="/club/fixtures/firstXI">
                                                All fixtures <i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <br>

                                    <div>
                                        {{ match.date|date:"D d M" }}
                                    </div>
                                    <div class="text-muted small">
                                        {{ match.match_format }}
                                    </div>
                                    <div class="pb-3 text-muted small">
                                        {{ match.team.abr }}
                                    </div>
                                    <div class="pt-2 pb-2 row justify-content-between m-2">
                                        <div class="col-4">
                                            <div class="row justify-content-end">
                                                <img class="match-img" src="/media/ards_cc.png" alt="ards cc"
                                                     style="height: 60px; width: auto;">
                                            </div>
                                        </div>
                                        <div class="col-3 display-inline">
                                            <p class="bg-ec py-2">
                                                {{ match.time|date:"G:i" }}
                                            </p>
                                        </div>
                                        <div class="col-4">
                                            <div class="row justify-content-start">
                                                <img class="match-img " src="{{ match.opponent.badge.url }}"
                                                     alt="opponent badge" style="height: 60px; width: auto; ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  justify-content-end">
                                        <div class="col-6">
                                            <p class="fw-bold">ARDS</p>
                                        </div>
                                        <div class="col-6">
                                            <p class="fw-bold">{{ match.opponent }}</p>
                                        </div>
                                    </div>
                                    <div class="border text-primary p-3 mx-4 mb-3">
                                        <a class="result fw-bold" href="{% url 'viewfixture' match.id %}">
                                            PREVIEW
                                        </a>
                                    </div>
                                {% empty %}
                                    Nothing To Show
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="row row-cols-1 row-cols-xl-3 g-4 mx-lg-5 mb-5">
                    {% include 'sponsors.html' %}
                    <div class="col order-md-1">
                        <div class="card h-100">
                            <div class="bg-f8 border-thick-top">
                                {% for match in next_match_seconds|slice:"1" %}
                                    <div class="row row-cols-auto justify-content-between pt-3 px-2">
                                        <div class="col text-muted">
                                            NEXT FIXTURE
                                        </div>
                                        <div class="col small">
                                            <a class="pe-2 text-primary" href="/club/fixtures/firstXI">
                                                All fixtures <i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <br>

                                    <div>
                                        {{ match.date|date:"D d M" }}
                                    </div>
                                    <div class="text-muted small">
                                        {{ match.match_format }}
                                    </div>
                                    <div class="pb-3 text-muted small">
                                        {{ match.team.abr }}
                                    </div>
                                    <div class="pt-2 pb-2 row justify-content-between m-2">
                                        <div class="col-4">
                                            <div class="row justify-content-end">
                                                <img class="match-img" src="/media/ards_cc.png" alt="ards cc"
                                                     style="height: 60px; width: auto;">
                                            </div>
                                        </div>
                                        <div class="col-3 display-inline">
                                            <p class="bg-ec py-2">
                                                {{ match.time|date:"G:i" }}
                                            </p>
                                        </div>
                                        <div class="col-4">
                                            <div class="row justify-content-start">
                                                <img class="match-img " src="{{ match.opponent.badge.url }}"
                                                     alt="opponent badge" style="height: 60px; width: auto; ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row  justify-content-end">
                                        <div class="col-6">
                                            <p class="fw-bold">ARDS</p>
                                        </div>
                                        <div class="col-6">
                                            <p class="fw-bold">{{ match.opponent }}</p>
                                        </div>
                                    </div>
                                    <div class="border text-primary p-3 mx-4 mb-3">
                                        <a class="result fw-bold" href="{% url 'viewfixture' match.id %}">
                                            PREVIEW
                                        </a>
                                    </div>
                                {% empty %}
                                    Nothing To Show
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-xl-none">
                        <hr>
                    </div>
                </div>

                <div class="cookie-banner" style="display: none">
                    <p>
                        We use cookies to ensure that we give you the best experience on our website. If you continue to
                        use this site we will assume that you are happy with it. Check out our
                        <a href="/cookies">cookie policy</a> here
                    </p>
                    <button class="close border">&times;</button>
                </div>
            </div>
        </main>

    {% endfor %}
{% endblock content %}
