{% extends "../base.html" %}
{% load static %}
{% load bootstrap5 %}

<link rel="icon" type="image/png" href="media/ards cc filled.png"/>
{% block page-css-class %}cover-container d-flex h-25 px-3 mx-auto flex-column {% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Add Bowling{% endblock %}
{% block extra_css %}{# Override this in templates to add extra css        #}{% endblock %}
{% block extra_js %} {# Override this in templates to add extra javascript #}

{% endblock %}

{% block meta_descr %}
    Add bowler to match
{% endblock %}

{% block content %} {#    html stuff sits in here#}
    <div class="pb-5 container col-md-9">
        <form action="{% url 'add_new_bowler' obj.id %}" method="POST" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-4" >
                    {% bootstrap_form form %}
                </div>

            </div>
            <button type="submit" class="btn btn-success" id="add-btn">
                ADD
            </button>

        </form>
    </div>

{% endblock %}