{% extends "../base.html" %}
{% load static %}
{% load bootstrap5 %}

<link rel="icon" type="image/png" href="media/ards cc filled.png"/>
{% block page-css-class %}cover-container d-flex h-25 px-3 mx-auto flex-column {% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Add Match{% endblock %}
{% block extra_css %}{# Override this in templates to add extra css        #}{% endblock %}
{% block extra_js %} {# Override this in templates to add extra javascript #}{% endblock %}

{% block meta_descr %}
    Add match page
{% endblock %}

{% block content %} {#    html stuff sits in here#}
    <div class="pb-5 container col-md-9">
        <form action="{% url 'add_new_match' %}" method="POST" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-6">
                {% bootstrap_form match_form %}
                <button type="submit" class="btn btn-success" id="add-btn">
                    ADD
                </button>
            </div>

        </form>
    </div>

{% endblock %}