{% extends "../base.html" %}
{% load static %}
{% load bootstrap5 %}

<link rel="icon" type="image/png" href="media/ards cc filled.png"/>
{% block page-css-class %}cover-container d-flex h-25 px-3 mx-auto flex-column {% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Add Bowling{% endblock %}
{% block extra_css %}{# Override this in templates to add extra css        #}{% endblock %}
{% block extra_js %} {# Override this in templates to add extra javascript #}

{% endblock %}

{% block meta_descr %}
    Add bowler to match
{% endblock %}

{% block content %} {#    html stuff sits in here#}
    <div class="pb-5 container col-md-9">
        <form action="{% url 'add_new_bowler' obj.id %}" method="POST" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-4">
                    <button type="submit" class="btn btn-success" id="add-btn">
                        ADD
                    </button>
                    {% bootstrap_form form %}
                </div>
                <div class="col">
                    <div>
                        <div class="p-3 text-center">
                            {{ obj }}
                            <hr class="col-4 mx-auto">
                        </div>
                        <div class="team-heading bg-gradient-mini-alt">
                            ARDS BOWLING
                        </div>
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                            <tr class="batting-headings bg-gradient-mini-alt-second">
                                <th class="bowl-name">

                                </th>
                                <th class="bowl-overs">
                                    O
                                </th>
                                <th class="bowl-maidens">
                                    M
                                </th>
                                <th class="bowl-runs">
                                    R
                                </th>
                                <th class="bowl-wickets">
                                    W
                                </th>
                                <th class="bowl-econ">
                                    ECON
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for bowling in bowling_list_bn %}
                                <tr class="bowling-player">
                                    <td class="bowl-name -text-left">
                                        <a class="result" href="{% url "bowlerform" obj.id bowling.id %}">
                                            {{ bowling.bowler_number }} | {{ bowling.member }}
                                            <i class="px-3 fas fa-edit"></i>

                                        </a>
                                        <a class="result text-danger" href="{% url "deletebowler" obj.id bowling.id %}"
                                           onclick="return confirm('Are you sure?')">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </td>
                                    <td class="bowl-overs">
                                        {{ bowling.overs }}
                                    </td>
                                    <td class="bowl-maidens">
                                        {{ bowling.maidens }}
                                    </td>
                                    <td class="bowl-runs">
                                        {{ bowling.runs }}
                                    </td>
                                    <td class="bowl-wickets">
                                        {{ bowling.wickets }}
                                    </td>
                                    <td class="bowl-econ">
                                        {{ bowling.economy }}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                    <div class="rtl">
                        <a class="" href="{% url 'viewmatch' obj.id %}">
                            Return to scorecard
                        </a>
                    </div>
                </div>

            </div>


        </form>
    </div>

{% endblock %}