{% extends "../base.html" %}
{% load static %}

<link rel="icon" type="image/png" href="media/ards cc filled.png"/>
{% block page-css-class %}cover-container d-flex h-25 px-3 mx-auto flex-column {% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Fixture Selected{% endblock %}
{% block extra_css %}{# Override this in templates to add extra css        #}{% endblock %}
{% block extra_js %} {# Override this in templates to add extra javascript #}{% endblock %}

{% block meta_descr %}
    Preview a Match page
{% endblock %}



{% block content %} {#    html stuff sits in here#}
    <div class="py-4">
        <div class="pb-5 container alternative-colour">
            <div class="match-preview text-white">
                <p class="small pt-5">Match Preview</p>

                <div class="row row-cols-auto align-items-center d-flex">
                    <div class="col">
                        <img class="match-img" src="/media/ards_cc.png" alt="ards cc"
                             style="height: 60px; width: auto;">
                    </div>
                    <div class="col">
                        <div class="align-self-center px-3">
                            <h2 class="match-team">
                                ARDS
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="row  row-cols-auto align-items-center d-flex">
                    <div class="col">
                        <img class="match-img " src="{{ object.opponent.badge.url }}"
                             alt="opponent badge" style="height: 60px; width: auto; ">
                    </div>
                    <div class="col">
                        <div class="align-self-center px-3">
                            <h2 class="match-team">
                                {{ object.opponent }}
                            </h2>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="align-items-center fw-bold row mx-2">
                    <div class="col-md-6">
                        <div class="pb-4">

                            <img class="pe-4 image-white" src="/media/cricket.png"
                                 alt="cricket icon" style=" height: 40px; width: auto;">
                            {{ object.match_format }}
                        </div>
                        <div class="pb-4">
                            <i class="fas fa-calendar-alt pe-4" style="font-size: 40px"></i>
                            {{ object.date|date:"l jS F Y" }}
                        </div>
                        <div class="pb-4">

                            <i class="fas fa-stopwatch pe-4" style="font-size: 40px"></i>
                            {{ object.time }}
                        </div>
                        {% if request.user.is_authenticated %}

                            {% for user_group in user.groups.all %}
                                {% if user_group.name == "Captain" %}
                                    <a class="btn btn-success" href="{% url 'matchform' object.id %}">
                                        Update
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="d-md-none">
                        <hr>
                    </div>
                    <div class="col-md-6 text-decoration-none align-self-start d-flex">

                        <i class="fas fa-map-marker-alt pe-4" style="font-size: 40px"></i>
                        <a class="result" href="https://www.google.com/maps/search/{{ object.location }}"
                           target="_blank">
                            {{ object.location }}
                        </a>
                        <br>
                    </div>

                </div>
            </div>
        </div>

        <div class="text-center py-5">
            {% include 'sponsors.html' %}
        </div>
    </div>
{% endblock %}