{% extends "../base.html" %}
{% load static %}
{% load bootstrap5 %}

<link rel="icon" type="image/png" href="media/ards cc filled.png"/>
{% block page-css-class %}cover-container d-flex h-25 px-3 mx-auto flex-column {% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Member Update{% endblock %}
{% block extra_css %}{# Override this in templates to add extra css        #}{% endblock %}
{% block extra_js %} {# Override this in templates to add extra javascript #}{% endblock %}

{% block meta_descr %}
    Match update page
{% endblock %}



{% block content %} {#    html stuff sits in here#}

    <div class="container-fluid" id="wrapper">
        <div class="row">
                <form action="" method="POST" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-lg-6 mx-auto mb-5">
                        {% bootstrap_form form %}
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success" id="add-btn">
                                Update
                            </button>
                        </span>
                    </div>
                </form>
        </div>
    </div>

{% endblock %}