{% extends "../base.html" %}
{% load static %}

<link rel="icon" type="image/png" href="media/ards cc filled.png"/>
{% block page-css-class %}cover-container d-flex h-25 px-3 mx-auto flex-column {% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Match Selected{% endblock %}
{% block extra_css %}{# Override this in templates to add extra css        #}{% endblock %}
{% block extra_js %} {# Override this in templates to add extra javascript #}{% endblock %}

{% block meta_descr %}
    Scorecard page for the teams
{% endblock %}



{% block content %} {#    html stuff sits in here#}



    <div class="pb-5 text-center container">

        <div class="overview mt-5">
            <div class="py-2" id="match-format">
                <h5>{{ object.match_format }} game</h5>
            </div>
            <div class="row bg-gradient-mini-three match-mini-facts">
                <div class="box col d-flex justify-content-between team-news">

                    <img class="match-img match-img-home" src="/media/ards_cc.png" alt="ards cc">
                    <div class="align-self-center px-3">
                        <h2 class="match-team">
                            ARDS
                        </h2>

                        <h3 class="match-score">
                            {{ object.ards_score }}
                        </h3>
                    </div>

                </div>
                <div class="box d-flex justify-content-center col-md-auto">
                    <span class="align-items-baseline align-self-start py-2 px-2 span-result d-none d-md-block">
                        <h3>RESULT</h3>
                    </span>
                </div>
                <div class="box col d-flex justify-content-between team-news">


                    <div class="order-1 align-self-center px-3">
                        <h2 class="match-team">
                            {{ object.opponent }}
                        </h2>
                        <h3 class="match-score">
                            {{ object.opponents_score }}
                        </h3>
                    </div>
                    <img class="match-img match-img-away order-md-1" src="{{ object.opponent.badge.url }}"
                         alt="opponent badge">

                </div>
            </div>
            <div class="py-3" id="match-result">
                <h5>{{ object.result }}</h5>
            </div>
        </div>

        <div class="scorecards-container mt-5 row">


            <div class="accordion-flush batting-card col-md-8">
                <div class="game-stats accordion-item bg-gradient-mini-two">
                    <div class="team-batting-overview border mb-4">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#home-score" aria-expanded="false" aria-controls="home-score">
                                <p class="team-batting team-batting-name d-inline mx-2">
                                    ARDS {{ object.team.abr }}
                                </p>
                                <p class="team-batting team-batting-score d-inline">
                                    {{ object.ards_score }}
                                </p>
                            </button>
                        </h2>
                    </div>


                    <div class="accordion-collapse collapse" id="home-score">

                        <div class="team-heading bg-gradient-mini-alt">
                            ARDS BATTING
                        </div>
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                            <tr class="batting-headings bg-gradient-mini-alt-second">
                                <th class="bat-name">

                                </th>
                                <th class="bat-out-by">

                                </th>
                                <th class="bat-out">

                                </th>
                                <th class="bat-runs">
                                    RUNS
                                </th>
                                <th class="bat-faced">
                                    B
                                </th>
                                <th class="bat-fours">
                                    4s
                                </th>
                                <th class="bat-sixes">
                                    6s
                                </th>
                                <th class="bat-strike-rate">
                                    SR
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for batting in batting_list_bn_t %}
                                {% if batting.mode_of_dismissal|stringformat:"s" != "Did not bat" %}
                                    <tr class="batting-player">
                                        <td class="bat-name">
                                            {{ batting.member }}
                                        </td>
                                        <td class="bat-out-by">
                                            {% if batting.mode_of_dismissal|stringformat:"s" != "Not Out" %}
                                                {{ batting.out_by }}
                                            {% else %}
                                            {% endif %}
                                        </td>
                                        <td class="bat-out">
                                            {{ batting.mode_of_dismissal }}

                                        </td>
                                        <td class="bat-runs">
                                            {{ batting.runs }}
                                        </td>
                                        <td class="bat-faced">

                                        </td>
                                        <td class="bat-fours">
                                            {{ batting.fours }}
                                        </td>
                                        <td class="bat-sixes">
                                            {{ batting.sixes }}
                                        </td>
                                        <td class="bat-strike-rate">

                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            <tr class="batting-player">
                                <td class="bat-name">
                                    Extras
                                </td>
                                <td class="bat-out-by">

                                </td>
                                <td class="bat-out">
                                    {% for extras in extras_list_t %}
                                        {{ extras }}
                                    {% endfor %}
                                </td>
                                <td class="bat-runs">
                                    {% for extras in extras_list_t %}
                                        {{ extras.extras_total }}
                                    {% endfor %}
                                </td>
                                <td class="bat-faced">

                                </td>
                                <td class="bat-fours">

                                </td>
                                <td class="bat-sixes">

                                </td>
                                <td class="bat-strike-rate">

                                </td>
                            </tr>
                            <tr class="batting-player">
                                <td class="bat-name">
                                    Total
                                </td>
                                <td class="bat-out-by">

                                </td>
                                <td class="bat-out">
                                    {{ object.ards_overs_batted }} overs, {{ object.ards_wickets }} wkts
                                </td>
                                <td class="bat-runs">
                                    <span>{{ object.ards_runs }}</span>
                                </td>
                                <td class="bat-faced">

                                </td>
                                <td class="bat-fours">

                                </td>
                                <td class="bat-sixes">

                                </td>
                                <td class="bat-strike-rate">

                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="to-bat mb-5">
                            <p>To Bat:</p>
                            {% for batting in batting_list_bn_t %}
                                {% if batting.mode_of_dismissal|stringformat:"s" == "Did not bat" %}
                                    <p class="text-primary">{{ batting.member }},</p>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="team-heading bg-gradient-mini-alt">
                            {{ object.opponent }} BOWLING
                        </div>
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                            <tr class="batting-headings bg-gradient-mini-alt-second">
                                <th class="bowl-name">

                                </th>
                                <th class="bowl-overs">
                                    O
                                </th>
                                <th class="bowl-maidens">
                                    M
                                </th>
                                <th class="bowl-runs">
                                    R
                                </th>
                                <th class="bowl-wickets">
                                    W
                                </th>
                                <th class="bowl-econ">
                                    ECON
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for bowling in bowling_list_bn_f %}
                                <tr class="bowling-player">
                                    <td class="bowl-name -text-left">
                                        {{ bowling.bowler_name }}
                                    </td>
                                    <td class="bowl-overs">
                                        {{ bowling.overs }}
                                    </td>
                                    <td class="bowl-maidens">

                                    </td>
                                    <td class="bowl-runs">
                                        {{ bowling.runs }}
                                    </td>
                                    <td class="bowl-wickets">
                                        {{ bowling.wickets }}
                                    </td>
                                    <td class="bowl-econ">
                                        {{ bowling.economy }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
            <div class="accordion-flush  batting-card col-md-8 order-md-2">
                <div class="game-stats accordion-item bg-gradient-mini-two ">
                    <div class="team-batting-overview border mb-4">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#away-score" aria-expanded="false" aria-controls="away-score">
                                <p class="team-batting team-batting-name d-inline mx-2">
                                    {{ object.opponent }} 1st XI
                                </p>
                                <p class="team-batting team-batting-score d-inline">
                                    {{ object.opponents_score }}
                                </p>
                            </button>
                        </h2>
                    </div>


                    <div class="accordion-collapse collapse" id="away-score">

                        <div class="team-heading bg-gradient-mini-alt">
                            {{ object.opponent }} BATTING
                        </div>
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                            <tr class="batting-headings bg-gradient-mini-alt-second">
                                <th class="bat-name">

                                </th>
                                <th class="bat-out-by">

                                </th>
                                <th class="bat-out">

                                </th>
                                <th class="bat-runs">
                                    RUNS
                                </th>
                                <th class="bat-faced">
                                    B
                                </th>
                                <th class="bat-fours">
                                    4s
                                </th>
                                <th class="bat-sixes">
                                    6s
                                </th>
                                <th class="bat-strike-rate">
                                    SR
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for batting in batting_list_bn_f %}
                                {% if batting.mode_of_dismissal|stringformat:"s" != "Did not bat" %}
                                    <tr class="batting-player">
                                        <td class="bat-name">
                                            {{ batting.batter_name }}
                                        </td>
                                        <td class="bat-out-by">
                                            {% if batting.mode_of_dismissal|stringformat:"s" != "Not Out" %}
                                                {{ batting.out_by }}
                                            {% else %}
                                            {% endif %}
                                        </td>
                                        <td class="bat-out">
                                            {{ batting.mode_of_dismissal }}
                                        </td>
                                        <td class="bat-runs">
                                            {{ batting.runs }}
                                        </td>
                                        <td class="bat-faced">

                                        </td>
                                        <td class="bat-fours">

                                        </td>
                                        <td class="bat-sixes">

                                        </td>
                                        <td class="bat-strike-rate">

                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            <tr class="batting-player">
                                <td class="bat-name">
                                    Extras
                                </td>
                                <td class="bat-out-by">

                                </td>
                                <td class="bat-out">
                                    {% for extras in extras_list_f %}
                                        {{ extras }}
                                    {% endfor %}
                                </td>
                                <td class="bat-runs">
                                    {% for extras in extras_list_f %}
                                        {{ extras.extras_total }}
                                    {% endfor %}
                                </td>
                                <td class="bat-faced">

                                </td>
                                <td class="bat-fours">

                                </td>
                                <td class="bat-sixes">

                                </td>
                                <td class="bat-strike-rate">

                                </td>
                            </tr>
                            <tr class="batting-player">
                                <td class="bat-name">
                                    Total
                                </td>
                                <td class="bat-out-by">

                                </td>
                                <td class="bat-out">
                                    {{ object.opponent_overs_batted }} overs, {{ object.opponent_wickets }} wkts
                                </td>
                                <td class="bat-runs">
                                    <span>{{ object.opponent_runs }}</span>
                                </td>
                                <td class="bat-faced">

                                </td>
                                <td class="bat-fours">

                                </td>
                                <td class="bat-sixes">

                                </td>
                                <td class="bat-strike-rate">

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="to-bat mb-5">
                            <p>To Bat:</p>
                            {% for batting in batting_list_bn_f %}
                                {% if batting.mode_of_dismissal|stringformat:"s" == "Did not bat" %}
                                    <p class="text-primary">{{ batting.batter_name }},</p>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="team-heading bg-gradient-mini-alt">
                            ARDS BOWLING
                        </div>
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark">
                            <tr class="batting-headings bg-gradient-mini-alt-second">
                                <th class="bowl-name">

                                </th>
                                <th class="bowl-overs">
                                    O
                                </th>
                                <th class="bowl-maidens">
                                    M
                                </th>
                                <th class="bowl-runs">
                                    R
                                </th>
                                <th class="bowl-wickets">
                                    W
                                </th>
                                <th class="bowl-econ">
                                    ECON
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for bowling in bowling_list_bn_t %}
                                <tr class="bowling-player">
                                    <td class="bowl-name -text-left">
                                        {{ bowling.member }}
                                    </td>
                                    <td class="bowl-overs">
                                        {{ bowling.overs }}
                                    </td>
                                    <td class="bowl-maidens">
                                        {{ bowling.maidens }}
                                    </td>
                                    <td class="bowl-runs">
                                        {{ bowling.runs }}
                                    </td>
                                    <td class="bowl-wickets">
                                        {{ bowling.wickets }}
                                    </td>
                                    <td class="bowl-econ">
                                        {{ bowling.economy }}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-4 order-md-1">
                <div class="border match-details py-3">
                    <dl class="row">
                        <dt class="col-sm-3">Date</dt>
                        <dd class="col-sm-9">{{ object.date }}</dd>
                        <dt class="col-sm-3">Toss</dt>
                        <dd class="col-sm-9"> Ards {{ object.team.abr }} {{ object.decision }}</dd>
                        <dt class="col-sm-3">Venue</dt>
                        <dd class="col-sm-9">
                            {{object.location}}
                        </dd>

                    </dl>
                </div>
            </div>


            <div class="border match-report py-5 col-md-8 order-4 my-3">
                <div class="text-center">
                    Match Report
                    <hr class="w-50 mx-auto">
                </div>
                {{ object.report|richtext }}
            </div>

        </div>

    </div>
{% endblock %}