{% extends "../base.html" %}
{% load static %}

<link rel="icon" type="image/png" href="media/ards cc filled.png"/>
{% block page-css-class %}cover-container d-flex h-25 px-5 mx-auto flex-column {% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Overview{% endblock %}
{% block extra_css %}{# Override this in templates to add extra css        #}{% endblock %}
{% block extra_js %} {# Override this in templates to add extra javascript #}{% endblock %}

{% block meta_descr %}
    Scorecard page for the teams
{% endblock %}



{% block content %} {#    html stuff sits in here#}
    <div class="mx-5">
    <canvas id="myChart" width="400" height="400"></canvas>

        <div class="">
            <nav class="">
                <div class="nav nav-tabs custom-nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active custom-nav-link" id="nav-home-tab"
                            data-bs-toggle="tab" `

                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">
                        <strong>
                            Player List
                        </strong>
                    </button>

                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                     aria-labelledby="nav-home-tab">
                    <div class="">

                        <div class="text-center">
                            <h2>PLAYER LIST</h2>
                            <hr>


                        </div>


                        <div class="row justify-content-md-center">
                            {% for member in member_list %}
                                <div class="col-lg-3 border m-3">
                                    <div class="row">
                                        <div class="player-info col">

                                            {{ member.id }}

                                            <p>{{ member.name }}</p>
                                            {% for team in member.role.all %}
                                                <p>{{ team.name }}</p>
                                            {% endfor %}
                                            {% for team in member.teamsPlayedFor.all %}
                                                <p>{{ team.name }}</p>
                                            {% endfor %}

                                            <hr>
                                            Batting Figures<br>
                                            Max: {{ member.max_runs }}<br>
                                            Min: {{ member.min_runs }}<br>
                                            Count: {{ member.count_runs }}<br>
                                            Count past 2019: {{ member.count_runs_past_2019 }}<br>
                                            Average: {{ member.average_runs }}<br>
                                            Sum: {{ member.sum_runs }}
                                            Second average: {{ member.average_runs_pt2 }}
                                            <hr>


                                            {% for batting in batting_list %}
                                                {% if member.id == batting.member.id %}

                                                    {# test #}
                                                    {% if member.id == batting.member.id and batting.match.date.year == 2018 %}
                                                        oof
                                                    {% endif %}
                                                    {# endtest #}

                                                    {{ batting }}
                                                    <br>
                                                    {{ batting.match.id }}
                                                    <br>
                                                    {{ batting.runs }}
                                                    <br>
                                                    {{ batting.match.date.year }}
                                                    <br>
                                                    {% if batting.mode_of_dismissal|stringformat:"s" == "Not Out" %}
                                                        {{ batting.mode_of_dismissal }}
                                                    {% endif %}
                                                    <br>
                                                    <hr>
                                                {% endif %}
                                            {% endfor %}

                                            Bowling Figures
                                            <hr>
                                            {% for bowling in bowling_list %}
                                                {% if member.id == bowling.member.id %}
                                                    {{ bowling }}
                                                    <br>
                                                    {{ bowling.match.id }}
                                                    <hr>
                                                {% endif %}
                                            {% endfor %}

                                        </div>
                                        <div class="col">
                                            <img src="{{ member.profile_pic.url }}" class="profile-main" alt="">
                                        </div>
                                    </div>

                                    <div class="player-buttons">
                        <span class="btn btn-primary">
                            <a href="{% url 'viewmember' member.id %}">
                            View
                            </a>
                        </span>
                                        <span class="btn btn-primary">
                        <a href="{% url 'memberform' member.id %}">
                        Update
                        </a>
                    </span>

                                        {% comment %}<a href="{% url 'deletemember' member.id %}">{% endcomment %}
                                        <span class="btn btn-primary">
                        Delete
                        </span>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <div class="col py-4">
                            <button class="btn btn-primary">
                                <a href="{% url 'viewmemberteam' 'firstXI' %}">
                                    FirstXI</a>
                            </button>
                            <button class="btn btn-primary"><a href="{% url 'viewmemberteam' 'secondXI' %}">
                                SecondXI</a>
                            </button>
                            <button class="btn btn-primary"><a href="{% url 'viewmemberrole' 'Player' %}">
                                Player</a>
                            </button>
                            <button class="btn btn-primary"><a href="{% url 'viewmemberrole' 'Captain' %}">
                                Captain</a>
                            </button>
                            <button class="btn btn-primary"><a href="{% url 'viewmemberrole' 'Board officer' %}">
                                Board Officer</a>
                            </button>
                            <button class="btn btn-primary"><a href="{% url 'viewmemberrole' 'Coach' %}">
                                Coach </a>
                            </button>
                            <button class="btn btn-primary"><a href="{% url 'create' %}">
                                Add New Member</a>
                            </button>
                        </div>


                    </div>
                </div>

            </div>
        </div>


    </div>



{% endblock %}