{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container d-flex h-25 mx-auto flex-column {% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Scorecard{% endblock %}
{% block extra_css %}{# Override this in templates to add extra css        #}{% endblock %}
{% block extra_js %} {# Override this in templates to add extra javascript #}{% endblock %}

{% block meta_descr %}
    Scorecard page for the teams
{% endblock %}



{% block content %} {#    html stuff sits in here#}
    <div class="pb-5 container col-md-9">

        <div class="row py-4">

            <div class="col">
                <form method="GET" action="." class="form-inline">

                    <div class="">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <div class="inner-addon right-addon">
                                    <a style="text-decoration: none" href=""><i class="fa fa-search"></i></a>
                                    <input class="form-control py-2 border-right-0 border" type="search"
                                           name="team_contains" placeholder="Quick Find Opponent..."/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2 d-flex align-items-center">

                        <div class="row">
                            <div class="col-md-4 form-group">
                                <div class="inner-addon left-addon">
                                    <a class="d-md-none" id="calendar" style="text-decoration: none" href=""><i
                                            class="fa fa-calendar"></i></a>
                                    <input type="date" id="start" name="date_picker" placeholder="-- SELECT A DATE --"
                                           aria-describedby="Choose Date">
                                </div>
                            </div>
                        </div>

                        <select id="yearselector" name="year_choice" class="p-2 ms-2">
                            <option hidden disabled selected value> -- YEAR --</option>
                            {% for date in date_list %}
                                <option value="{{ date.date__year }}">
                                    {{ date.date__year }}
                                </option>
                            {% endfor %}
                        </select>

                        <button type="submit" class="border btn-light rounded text-dark py-2 px-3 ms-2">
                            <a style="text-decoration: none" href=""><i
                                    class="fa fa-filter"></i>
                                <strong>Filter</strong></a>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <hr/>
        <div class="row">
            <div class="fs-4 mb-4 ms-3">
                {% for match in queryset|slice:"1" %}
                    {{ match.team.abr }}
                {% endfor %}
            </div>
            <ul class="list-unstyled">
                {% for match in queryset %}
                    <li class="pb-2">
                        <div class="bg-gradient-mini-alt text-center border mb-2 py-2 text-uppercase rounded fw-bold">
                            {{ match.date|date:"jS F, Y" }}
                        </div>

                        <div class="bg-gradient-mini-two text-center py-2 border fw-bold rounded">
                            <div class="text-uppercase">
                                {{ match.team_v_team }} {{ match.match_format }} {{ match.date.year }}
                            </div>
                        </div>

                        <div class="container">
                            <div class="text-center py-2 ws-5">
                                Ards
                                <span class="text-danger">
                                    <a class="result" href="{% url 'viewmatch' match.id %}">
                                    Result</a></span>
                                {{ match.opponent }}
                            </div>
                            <div class="text-center">
                                {{ match.result }}
                            </div>
                        </div>

                        <div class="match-area">
                            <span class="text-primary">
                                            <a href="{% url 'viewmatch' match.id %}">
                                            Match Area
                                            </a>
                                        </span>
                        </div>


                    </li>
                    <hr>
                {% empty %}
                    <div class="card text-center py-4 mb-3 mx-5 shadow bg-body rounded" style="width: 18rem;">
                        <i class="p-5 text-danger fs-1 fas fa-exclamation-circle"></i>

                        <p>Oops, something went wrong! Nothing to show</p>
                        <p>Please try another filter</p>
                    </div>
                {% endfor %}
            </ul>
        </div>

    </div>





{% endblock %}