{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container d-flex h-25 px-3 mx-auto flex-column {% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Scorecard{% endblock %}
{% block extra_css %}{# Override this in templates to add extra css        #}{% endblock %}
{% block extra_js %} {# Override this in templates to add extra javascript #}{% endblock %}

{% block meta_descr %}
    Scorecard page for the teams
{% endblock %}



{% block content %} {#    html stuff sits in here#}
    <div class="pb-5 container col-md-9">

        <div class="row py-4">

            <div class="col">
                <form method="GET" action="." class="form-inline">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <div class="inner-addon right-addon">
                                    <a style="text-decoration: none" href=""><i class="fa fa-search"></i></a>
                                    <input class="form-control py-2 border-right-0 border" type="search"
                                           name="team_contains" placeholder="Quick Find Opponent..."/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="date" id="start" name="date_picker" placeholder="-- SELECT A DATE --">

                    <select id="yearselector" name="year_choice" class="p-2">
                        <option hidden disabled selected value> -- YEAR --</option>
                        {% for date in date_list %}
                            <option value="{{ date.date__year }}">
                                {{ date.date__year }}
                            </option>
                        {% endfor %}
                    </select>


                    <button type="submit" class="border btn-light rounded text-dark py-2 px-3">
                        <a style="text-decoration: none" href=""><i
                                class="fa fa-filter"></i>
                            <strong>Filter</strong></a>
                    </button>

                    <button type="button"
                            class="border border-primary btn-light rounded text-primary py-2 px-3">
                        <a href="{% url 'matches' %}" role="button"><i class="fa fa-sync"></i> </a>
                    </button>

                </form>


            </div>
        </div>

        <hr/>
        <div class="row">
            <ul class="list-unstyled">
                {% for match in queryset %}
                    <li>
                        <div class="bg-gradient-mini-alt text-center border mb-2 py-2 text-uppercase rounded fw-bold">
                            {{ match.date|date:"dS F, Y" }}
                        </div>

                        <div class="bg-gradient-mini-two text-center py-2 border fw-bold rounded">
                            <div class="text-uppercase">
                                ARDS V {{ match.opponent }} {{ match.match_format }} {{ match.date.year }}
                            </div>
                        </div>
                        <div class="text-center py-2 ws-5">

                            Ards
                            <span class="text-danger">Result</span>
                            {{ match.opponent }}

                        </div>

                        <div class="text-center">
                            {{ match }}
                            <span class="text-primary float-end">
                                            <a href="{% url 'viewmatch' match.id %}">
                                            Match Area
                                            </a>
                                        </span>
                        </div>


                        <hr>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>





{% endblock %}