{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container d-flex h-25 px-3 mx-auto flex-column {% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Scorecard{% endblock %}
{% block extra_css %}{# Override this in templates to add extra css        #}{% endblock %}
{% block extra_js %} {# Override this in templates to add extra javascript #}{% endblock %}

{% block meta_descr %}
    Scorecard page for the teams
{% endblock %}



{% block content %} {#    html stuff sits in here#}
    <div class="pb-5 container">

        <div class="row py-4">

            <div class="col">
                <form method="GET" action="." class="form-inline">


                    <select id="yearselector" name="year_choice">
                        {% for date in date_list %}
                            <option value="{{ date.date__year }}">
                                {{ date.date__year }}
                            </option>
                        {% endfor %}
                    </select>

                    <button type="submit" class="border btn-light rounded text-dark py-2 px-3">
                        <a style="text-decoration: none" href=""><i
                                class="fa fa-filter"></i>
                            <strong>Filter</strong></a>
                    </button>

                    <button type="button"
                            class="border border-primary btn-light rounded text-primary py-2 px-3">
                        <a href="" role="button"><i class="fa fa-sync"></i> </a>
                    </button>

                    {% comment %}<div class="form-row">
                    <div class="form-group col-12">
                        <div class="input-group">
                            <input class="form-control py-2 border-right-0 border" type="search"
                                   name="team_contains" placeholder="Team contains..."/>
                            <span class="input-group-append">
                                    <div class="input-group-text bg-transparent">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    </span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <div class="input-group">
                            <input class="form-control py-2 border-right-0 border" type="search"
                                   name="team_exact" placeholder="Team exact..."/>
                            <span class="input-group-append">
                                    <div class="input-group-text bg-transparent">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    </span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <div class="input-group">
                            <input class="form-control py-2 border-right-0 border" type="search"
                                   name="team_or_year" placeholder="Team or year..."/>
                            <span class="input-group-append">
                                    <div class="input-group-text bg-transparent">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    </span>
                        </div>
                    </div>
                </div>{% endcomment %}

                </form>
            </div>
        </div>

        <hr/>
        <div class="row">
            <ul class="list-unstyled">
                {% for match in queryset %}
                    <li>
                        {{ match }}
                        <br>

                        <hr>
                        <span class="btn btn-primary">
                                            <a href="{% url 'viewmatch' match.id %}">
                                            View
                                            </a>
                                        </span>
                        <hr>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

    {% comment %}
                    <div class="">
                        {% for match in match_list %}
                            {#                            {% if match.team|stringformat:"s" == "firstXI" %} {% for match in match_list|slice:":4" %} #}
                            {{ match }}
                            <br>

                            <hr>
                            <span class="btn btn-primary">
                                <a href="{% url 'viewmatch' match.id %}">
                                View
                                </a>
                            </span>
                            <hr>

                        {% endfor %}
                        <br>


                    </div>{% endcomment %}




{% endblock %}