{% extends "../base.html" %}
{% load static %}
{% load bootstrap5 %}

<link rel="icon" type="image/png" href="media/ards cc filled.png"/>
{% block page-css-class %}cover-container d-flex h-25 px-3 mx-auto flex-column {% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}Sponsors Home{% endblock %}
{% block extra_css %}{# Override this in templates to add extra css        #}{% endblock %}
{% block extra_js %} {# Override this in templates to add extra javascript #}{% endblock %}

{% block meta_descr %}
    Sponsors main Page
{% endblock %}



{% block content %} {#    html stuff sits in here#}
    <div class="py-4">
        {% if request.user.is_authenticated %}

            {% if user not in  user_sponsor_list %}
                <div class="text-center">
                    <a href="">
                        Want to be one of our sponsors?
                    </a>
                </div>
            {% endif %}
        {% else %}
            <div class="text-center py-5">
                <a href="/signup">
                    Want to be one of our sponsors?
                </a>
            </div>

        {% endif %}


        <div class="text-center py-5">
            {% include 'sponsors.html' %}
        </div>

        {% if request.user.is_authenticated %}

            {% for user_group in user.groups.all %}
                {% if user_group.name == "Sponsor" %}
                    <hr>
                    <div class="pb-5 container col-md-9">
                        <h1>Your Profile</h1>
                        <form action="" method="POST" role="form" enctype="multipart/form-data">
                            <div class="row">
                                {% csrf_token %}
                                <div class="col-xl-4 border bottom-thin p-2">
                                    <button type="submit" class="btn btn-success mb-5" id="add-btn">
                                        Update
                                    </button>
                                    {% bootstrap_form form %}
                                </div>


                                <div class="col">
                                    <h3>Current</h3>

                                    {% for user_group in user.groups.all %}
                                        <a class="result" href="{% url 'sponsors_home' request.user.id %}">
                                            {{ user.profile.website_link }} <i class="px-3 py-4 fas fa-edit"></i>
                                        </a>
                                        <br>
                                        {% if request.user.wagtail_userprofile.avatar %}
                                            <a class="result" href="{% url 'sponsors_home_picture' request.user.id %}"
                                               data-bs-toggle="tooltip" title="Click me to Edit!"
                                               >
                                                <img src="{{ request.user.wagtail_userprofile.avatar.url }}" class=""
                                                     alt="{{ request.user.get_full_name }}"
                                                     style="max-height: 150px; width:auto;"> <i class="px-3 py-4 fas fa-edit"></i>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}