{% extends "../base.html" %}
{% load static %}
{% block page-css-class %}cover-container d-flex h-25 px-3 mx-auto flex-column {% endblock %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}The Club{% endblock %}
{% block extra_css %}{# Override this in templates to add extra css        #}{% endblock %}
{% block extra_js %} {# Override this in templates to add extra javascript #}{% endblock %}

{% block meta_descr %}
    The club main page for information
{% endblock %}



{% block content %} {#    html stuff sits in here#}
    <div class="pb-5 container col-md-9">
        <div class="row justify-content-evenly">
            <div class="col-md-3 text-center mt-3">
                Captains
                <hr class="col-3 mx-auto">
                {% for member in captains %}
                    {{ member }}
                    <a href="tel:{{ member.mobile }}">
                        {{ member.mobile }}
                    </a>
                    <br>
                {% endfor %}
            </div>

                    <div class="d-md-none">
                        <hr>
                    </div>
            <div class="col-md-3  text-center">
                Coaches
                <hr class="col-3 mx-auto">
                {% for member in coaches %}
                    {{ member }}
                    <a href="tel:{{ member.mobile }}">
                        {{ member.mobile }}
                    </a>
                    <br>
                {% endfor %}

            </div>

                    <div class="d-md-none">
                        <hr>
                    </div>
            <div class="col-md-3  text-center">
                Board Officers
                <hr class="col-3 mx-auto">
                {% for member in board_officers %}
                    {{ member }}
                    <a href="tel:{{ member.mobile }}">
                        {{ member.mobile }}
                    </a>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>

    {% for club in club_page %}
        <div class="container">
            <hr>
            {% for block in club.about %}
                {% include_block block %}
                <hr>
            {% endfor %}
        </div>
        <div class="container my-5">
            {% for block in club.videos %}
                {% include_block block %}
                <hr>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}